$light-blue: #00a1e3
$blue: #00418b
$white: #fff
$red: #ff682b
$yellow: #ffed48
$dark-1: #2b333f
$dark-2: #475569
$dark-3: #6c7787
$dark-4: #949faf
$dark-5: #b5bbc3
$dark-6: #c8ccd2
$dark-7: #dadde1
$dark-8: #edeef0
$dark-9: #f5f5f5