footer
    div.container
        div.top
            a(href="#").logotype
                img(src="images/logotype_footer.svg")
            a(href="#").emblem
                img(src="images/logotype_footer_emblem.svg")
            div.menu_catalog
                a(href="#") Каталог
                a(href="#") Аквапарки
                a(href="#") Закладные для бассейна
                a(href="#") Накрытия на бассейны
                a(href="#") Детские товары
                a(href="#") Аквафитнес и отдых на воде
                a(href="#") Трубы и фитинги
                a(href="#") Химия для бассейна
                a(href="#") Аксессуары для бассейна
                a(href="#") Бассейны и SPA
                a(href="#") Оборудование для бассейна
                a(href="#") Пылесосы для бассейна
                a(href="#") Отделочные материалы
                a(href="#") Фонтаны
                a(href="#") Тепловые насосы для дома
                a(href="#") Запчасти
                a(href="#") Каяки
                a(href="#") Брендированная продукция
            div.menu_main
                a(href="#") О компании
                a(href="#") Дилерам
                a(href="#") Доставка и оплата
            div.socials
                a(href="#") YouTube #[span ↗]
                a(href="#") WhatsApp #[span ↗]
                a(href="#") Telegram #[span ↗]
                a(href="#") RuTube #[span ↗]
            div.develop
                span Разработка сайта:
                img(src="images/mwi.svg", alt="MWI")
            div.contacts
                span Контакты
                a(href="#") boncak63@hotmail.com
                a(href="#") +7 (495) 877-30-84
        div.bottom
            a(href="#").personal Согласие на обработку персональных данных
            span.copyright Aquastar © 2025 Все права защищены
            a(href="#").policy Политика конфиденциальности
