section.shops
    div.container

        div.section_title
            div.subtitle
                img(src="images/subtitle.svg")
                span Наши #[br]магазины
            h2 Магазины #[br]и точки продаж

        div.table
            div.row.head
                span Адрес
                span Режим работы
                span Телефон
                span
            div.row
                strong(data-title="Адрес") Москва, Малышева 21/4, вход с улицы Хохрякова
                strong(data-title="Режим работы").nowrap 11:00 – 21:00 ежедневно 
                strong(data-title="Телефон").nowrap +7 800 555-42-86
                a(href="#").pin
                    img(src="images/pin.svg")
            div.row
                strong(data-title="Адрес") Москва, ТРЦ Алания Молл, цокольный этаж Московское шоссе, 3к
                strong(data-title="Режим работы").nowrap 10:00-21:00, сб,вс: 10:00-22:00
                strong(data-title="Телефон").nowrap +7 (929) 000-66-11
                a(href="#").pin
                    img(src="images/pin.svg")
            div.row
                strong(data-title="Адрес") Санкт-Петербург, МЦ Мебель-Сити, 2 этаж ул. Мебельная, д. 1
                strong(data-title="Режим работы").nowrap 11:00 – 21:00 ежедневно
                strong(data-title="Телефон").nowrap +7 (981) 122-50-50
                a(href="#").pin
                    img(src="images/pin.svg")
            div.row
                strong(data-title="Адрес") Санкт-Петербург, ТЦ Roomer, 2 этаж Ленинская Слобода, д. 26
                strong(data-title="Режим работы").nowrap 11:00 – 21:00 ежедневно
                strong(data-title="Телефон").nowrap +7 (901) 696-35-22
                a(href="#").pin
                    img(src="images/pin.svg")