@use '../components/common/sass/_mixins' as *
@use '../components/common/sass/_colors' as *

section.pages
    margin-top: var(--section-gap)
    div.container
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: var(--grid-gap)

        a
            padding: 16px 24px
            border: 1px solid $dark-7
            border-radius: 10px
            transition: all 0.5s
            &:hover
                background: $red
                color: white
