dialog(data-modal-name="signin")
    div.container
        h1 Вход
        form(action="#") 
            input(type="text", placeholder="Номер телефона")
            button.black
                span Получить код
        button У меня еще нет аккаунта