@use '../common/sass/_mixins' as *
@use '../common/sass/_colors' as *

dialog[data-modal=signin]
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $dark-9
    z-index: 100
